<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.ssm.mapper.RoleMapper">

    <resultMap id="role_Map" type="Role">
        <id property="id" column="id"/>
        <result property="roleName" column="ROLENAME"/>
        <result property="roleDesc" column="ROLEDESC"/>

        <collection property="permissionList" column="id"
                    select="com.itheima.ssm.mapper.PermissionMapper.findPermissionByRoleId"></collection>
    </resultMap>

    <!--角色，用户，权限的关系映射-->
   <resultMap id="role_per_user" type="Role" extends="role_Map">
        <collection property="userList" column="id" select="com.itheima.ssm.mapper.UsersMapper.findUserInfoByRoleId"></collection>
   </resultMap>


    <select id="findRoleByPermissionID" parameterType="java.lang.String" resultType="Role">
        SELECT * FROM ROLE WHERE ID IN (SELECT ROLEID FROM  role_permission WHERE PERMISSIONID=#{permissionId})
    </select>

    <!--根据用户ID查询与用户相关的角色-->
    <select id="findRoleByUserId" parameterType="java.lang.String" resultMap="role_Map">
        SELECT * FROM ROLE WHERE ID IN (SELECT ROLEID FROM users_role WHERE USERID=#{userId})
    </select>

    <!--查询所有用户信息-->
    <select id="findRoleAll" resultType="Role">
        SELECT * FROM ROLE
    </select>

    <!--根据角色ID查询对应角色信息-->
    <select id="findRoleById" parameterType="java.lang.String" resultMap="role_per_user">
      SELECT * FROM ROLE WHERE ID = #{id}
    </select>

    <!--添加数据-->
    <insert id="saveRole" parameterType="Role">
        INSERT INTO ROLE(ROLENAME,ROLEDESC) VALUES(#{roleName},#{roleDesc})
    </insert>


</mapper>